#chat.overlay {
      --player-bar: 60px;
      --min-height-ratio: 0.3;
      --total-margin-ratio: calc(1 - var(--min-height-ratio));

      position: absolute;
      top: max(calc(var(--total-margin-ratio) * var(--top-margin, 0%) - var(--player-bar)), 0%);
      bottom: max(calc(var(--total-margin-ratio) * var(--bottom-margin, 0%)), var(--player-bar));

      height: auto !important;
      min-width: 460px;
      min-height: auto !important;

      margin: 0 !important;
      border: 0;
}

/* remove rounding from chat elements */
#chat.overlay,
#chat.overlay * {
      border-radius: 0px !important;
}

#chat.overlay.left {
      left: 0;
}

/* paired along with `position: absolute` attribute in #chat keeps chat at fixed position on fullscreen */
#secondary {
      position: static !important;
}

#chat.overlay.right {
      right: 0;
}

#chat.overlay #show-hide-button {
      opacity: calc(var(--opacity) + 0.1);
}

#chat.overlay #show-hide-button.x-hidden {
      display: none;
}