/* comments & chat overlay */
[fullscreen] #panels-full-bleed-container.overlay {
  --player-bar: var(--yt-delhi-bottom-controls-height, 60px);
  --max-height: calc(100vh - var(--player-bar));

  position: absolute;
  min-height: 150px !important;
  max-height: var(--max-height);
  right: 0;

  top: calc(var(--top-margin, 0) * var(--max-height));
  height: calc(var(--chat-height, auto) * var(--max-height)) !important;

  &.left {
    right: unset;
  }

  transition: 0.5s ease-out;

  /* fix sizing, visuals */
  #chat, #panels > * {
    min-height: unset;
    margin: 0;
    border: 0;

    /* aling comments on right side */
    width: 100%;

    /* iframe border fix for chat */
    /* rounded corners (left) */
    iframe, .overlay.left & {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    /* iframe border fix for chat */
    /* rounded corners (right) */
    iframe, .overlay:not(.left) & {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  /* comments panel */
  #panels :is(#content, #header) {
    --yt-bg-color: var(--yt-spec-raised-background, #212121);

    background-color: color-mix(in srgb, var(--yt-bg-color) calc(var(--opacity) * 100%), transparent);

    /* nested elements */
    #content, #header {
      background-color: transparent;
    }
  }

  /* comments header */
  #panels .x-hidden {
    display: none;
  }

  /* hide three dots on comments (less distraction) */
  #panels #action-menu:not(:hover) {
    opacity: 0;
  }
}