.overlay:has(#chat):not(:has(iframe#chatframe[src="about:blank"])) [fullscreen] #secondary.ytd-watch-flexy {
  /* paired along with `position: absolute` attribute in #chat keeps chat at fixed position on fullscreen */
  position: static !important;
}

.overlay:not(:has(iframe#chatframe[src="about:blank"])) [fullscreen] #chat {
  --player-bar: 60px;
  --min-height-ratio: 0.3;
  --total-margin-ratio: calc(1 - var(--min-height-ratio));

  position: absolute;
  top: max(calc(var(--total-margin-ratio) * var(--top-margin, 0%) - var(--player-bar)), 0%);
  bottom: max(calc(var(--total-margin-ratio) * var(--bottom-margin, 0%)), var(--player-bar));

  height: auto !important;
  width: 460px;
  min-height: auto !important;

  margin: 0 !important;
  border: 0;
}

/* remove rounding from chat elements */
.overlay [fullscreen] ytd-live-chat-frame#chat {
  border-radius: 0px !important;
}

.overlay.left [fullscreen] #chat {
  left: 0;
}

.overlay:not(.left) [fullscreen] #chat {
  right: 0;
}

/* move quality settings to left */
.overlay:not([data-settings=hide]):not(.left):has(#chat) [fullscreen] .ytp-settings-menu {
  left: 70px;
}

/* hide chat when quality settings open */
.overlay[data-settings=hide]:not(.left):has(.ytp-settings-menu:not([style*="display: none"])) [fullscreen] #chat {
  visibility: hidden;
}