yt-live-chat-renderer.overlay.fullscreen {
  --yt-live-chat-background-color-raw: 15, 15, 15;
  --yt-live-chat-primary-text-color: #fff;
  background: rgba(var(--yt-live-chat-background-color-raw), var(--opacity));
  color: var(--yt-live-chat-primary-text-color);

  /* chat header */
  yt-live-chat-header-renderer {
    &:is(.x-hidden) {
      display: none;
    }

    --yt-spec-brand-background-primary-raw: 33, 33, 33;
    background: rgba(var(--yt-spec-brand-background-primary-raw), var(--opacity));
  }

  /* donate expiration bar */
  #ticker {
    display: none;
  }

  /* chat scroll */
  #item-scroller {
    scrollbar-width: none;

    /* community banner */
    yt-live-chat-viewer-engagement-message-renderer {
      display: none;
    }
  }

  /* chat input box */
  #input-panel {
    &:is(.x-hidden) {
      display: none;
    }

    /* chat input box */
    #live-chat-message-input {
      background: transparent;
    }

    /* chat input login box (incognito) */
    yt-live-chat-message-renderer {
      background: transparent;
    }

    /* subscriber-only mode */
    yt-live-chat-restricted-participation-renderer {
      opacity: var(--opacity);
    }
  }

  /* clear header separator */
  yt-live-chat-header-renderer.x-hidden ~ #contents > #separator {
    border-bottom: 0;
  }

  /* clear chat separator */
  #panel-pages {
    border-bottom: 0;

    &:has(#input-panel.x-hidden) {
      border: 0;
    }
  }
}