body:has(.fullscreen) {
  height: 100%;
}

yt-live-chat-app.fullscreen {
  min-height: unset;

  /* scroll container */
  yt-live-chat-renderer {
    background-color: rgb(15 15 15 / var(--opacity));
  }

  /* chat header */
  yt-live-chat-header-renderer {
    background-color: transparent;
  }

  /* chat input */
  yt-live-chat-message-input-renderer {
    background-color: transparent;

    /* chat input login box (incognito) */
    yt-live-chat-message-renderer {
      background-color: transparent;
    }
  }

  /* subscriber mode */
  yt-live-chat-restricted-participation-renderer #container {
    background-color: transparent;
  }

  /* toggle chat header */
  yt-live-chat-header-renderer.x-hidden {
    display: none;

    /* clear header separator */
    & ~ #contents > #separator {
      border-bottom: 0;
    }
  }

  /* toggle chat input */
  #panel-pages.x-hidden {
    display: none;
  }

  /* hide chat scroll */
  #item-scroller {
    scrollbar-width: none;

    /* hide community rules banner */
    yt-live-chat-viewer-engagement-message-renderer {
      display: none;
    }
  }

  /* hide donate expiration bar (full color bar under header) */
  #ticker {
    display: none;
  }

  /* streamer message */
  yt-live-chat-text-message-renderer[author-is-owner] {
    background-color: transparent;
  }
}

/* hide chat when live ended recently and before tab was refreshed */
yt-live-chat-app:not(:has(yt-live-chat-header-renderer)) {
  display: none;
}