.overlay yt-live-chat-renderer {
      background: rgba(var(--chat-bg-color), var(--opacity));
}

.overlay yt-live-chat-header-renderer {
      opacity: calc(var(--opacity) + 0.1);
}

.overlay yt-live-chat-header-renderer.x-hidden {
      display: none;
}

.overlay #show-hide-button.x-hidden {
      display: none;
}

/* 1 px separator between chat and toggle button */
.overlay #input-panel.x-hidden::after {
      display: none;
}

.overlay ::-webkit-scrollbar {
      display: none;
}