/* chat */
.overlay yt-live-chat-renderer {
      background: rgba(var(--yt-live-chat-background-color-raw), var(--opacity));
}

/* streamer message */
.overlay yt-live-chat-text-message-renderer[author-is-owner] {
      background: transparent;
}

.overlay yt-live-chat-ticker-renderer {
      background: rgba(var(--yt-live-chat-header-background-color-raw), var(--opacity));
}

/* welcome message card */
.overlay #card {
      display: none !important;
}

.overlay yt-live-chat-header-renderer {
      background: rgba(var(--yt-spec-brand-background-primary-raw), var(--opacity));
}

.overlay #live-chat-message-input {
      background: transparent;
}

.overlay #chat-messages.x-hidden yt-live-chat-header-renderer {
      display: none;
}

.overlay #chat-messages.x-hidden #separator {
      display: none;
}

.overlay #input-panel.x-hidden {
      display: none;
}

/* 1 px separator between chat and toggle button */
.overlay #input-panel.x-hidden::after {
      display: none;
}

/* gradient background visible on hover */
.overlay #menu.yt-live-chat-text-message-renderer {
      background: none !important;
}

.overlay ::-webkit-scrollbar {
      display: none;
}