.overlay yt-live-chat-renderer {
      background: rgba(var(--chat-bg-color), var(--opacity));
}

.overlay yt-live-chat-header-renderer {
      opacity: calc(var(--opacity) + 0.1);
      z-index: 1;
}

.overlay #live-chat-message-input {
      background: rgba(var(--chat-input-bg-color), calc(var(--opacity) + 0.1));
}

.overlay #chat-messages.x-hidden yt-live-chat-header-renderer {
      display: none;
}

.overlay #chat-messages.x-hidden #separator {
      display: none;
}

/* 1 px separator between chat and toggle button */
.overlay #input-panel.x-hidden::after {
      display: none;
}

.overlay #menu.yt-live-chat-text-message-renderer {
      background: none;
}

.overlay ::-webkit-scrollbar {
      display: none;
}