#ytd-player #container #chat {
      position: absolute;
      z-index: 10;
      top: var(--top-margin, 0%);
      bottom: 55px !important;
      width: 33%;
      /* progress bar has 51px of height so bottom margin has to be greater */
      height: calc(var(--chat-height, 100%) - 55px) !important;
      min-height: auto !important;
      margin: 0 !important;
      border: 0;
}

#ytd-player #container #chat.left {
      left: 0;
      right: auto;
}

#ytd-player #container #chat.right {
      left: auto;
      right: 0;
}

#ytd-player #container #chat #show-hide-button {
      opacity: calc(var(--opacity) + 0.1);
}

#ytd-player #container #chat #show-hide-button.x-hidden {
      display: none;
}