#ytd-player #container #chat {
      --minChatHeight: 30%;
      --maxBottomMargin: calc(100% - var(--minChatHeight));
      --playerBar: 55px;
      position: absolute;
      bottom: calc(min(var(--bottom-margin), var(--maxBottomMargin)) + var(--playerBar)) !important;
      height: calc(max(var(--chat-height), var(--minChatHeight)) - var(--playerBar)) !important;
      min-height: 33% !important;
      width: 33%;
      z-index: 10;
      margin: 0 !important;
      border: 0;
}

#ytd-player #container #chat.left {
      left: 0;
      right: auto;
}

#ytd-player #container #chat.right {
      left: auto;
      right: 0;
}

#ytd-player #container #chat #show-hide-button {
      opacity: calc(var(--opacity) + 0.1);
}

#ytd-player #container #chat #show-hide-button.x-hidden {
      display: none;
}
